Repository Capstone-Project-TP/AI-RAG-Server, pull requests merged in 2025-03, with the labels that each got.

#1 CI/CD yml파일 추가 및 PR템플릿 추가
  .github/pull_request_template.md
  .github/workflows/github-actions-demo.yml
  .gitignore
  README.md
  build_image/Dockerfile
  docker-compose.yml
  srcs/ai-preprocessing/Dockerfile
  srcs/ai-preprocessing/project/script/create_restaurant_vectordb.py
  srcs/ai-preprocessing/project/script/faiss_index_check.py
  srcs/ai-server/Dockerfile
  srcs/ai-server/project/app/services/base.py
Labels: documentation

#11 Naive RAG 구현
  .gitignore
  README.md
  ai-server/project/app/services/attraction.py
  ai-server/project/app/services/base.py
  ai-server/project/app/services/restaurant.py
  ai-server/requirements.txt
  docker-compose.yml
  docs/naive_rag_implementation.md
  docs/testing_guide.md
Labels: Chore, Feature, docs

#13 Reranker를 활용한 Advanced RAG 검색 기능 구현 (#7)
  .gitignore
  ai-server/Dockerfile
  ai-server/project/app/services/attraction.py
  ai-server/project/app/services/base.py
  ai-server/project/app/services/restaurant.py
  ai-server/project/app/utils/advanced_rag.py
  ai-server/project/app/utils/reranker.py
  ai-server/requirements.txt
  docs/advanced_rag_implementation.md
Labels: Fix, Chore, Feature, docs
